.navbar {
	background-color: #000000;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	position: relative;
	z-index: 1000;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar .logo img {
	height: 40px;
	transition: transform 0.3s ease;
}

.navbar .logo img:hover {
	transform: scale(1.05);
}

.nav-menu {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav-item {
	margin-left: 30px;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	padding: 5px 0;
	transition: color 0.3s;
}

.nav-link::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ff1e8a;
	transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
	width: 100%;
}

.nav-link:hover {
	color: #ff1e8a;
}


.menu-toggle {
	display: none;
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 0 20px;
	}

	.menu-toggle {
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}

	.menu-toggle .bar {
		width: 25px;
		height: 3px;
		background-color: #fff;
		margin: 3px 0;
		transition: all 0.3s ease;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 80px;
		width: 100%;
		background-color: #000000;
		transform: translateY(-150%);
		opacity: 0;
		transition: all 0.5s ease;
		padding-bottom: 20px;
		border-bottom: 2px solid #ff1e8a;
		z-index: -1;
	}

	.nav-item {
		margin: 20px 0;
	}

	.nav-link {
		font-size: 1.2rem;
	}

	.nav-menu.active {
		transform: translateY(0);
		opacity: 1;
		z-index: 999;
	}

	.menu-toggle.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	.menu-toggle.is-active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.menu-toggle.is-active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
}